.btn-general {
  background-color: #9d8df1;
  color: #fff;
}

.btn-general:disabled {
  background-color: rgb(189, 189, 189);
  cursor: default;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.link-general {
  display: inline-block;
  font-weight: 100;
  margin-top: 30px;
  color: gray;
}

.link-general:hover {
  color: #9d8df1;
}

/* =============================================
|   |   |   | Navbar
============================================== */

.navbar {
  margin-bottom: 2rem;
}

.nav-item {
  margin: 0.5rem;
}

.nav-item a {
  font-weight: 300;
  color: #000;
}

/* =============================================
|   |   |   | Circles
============================================== */
.md-circle {
  border: 2px solid #e9eaec;
  background-color: #e9eaec;
  display: inline-block;
  padding: 35px 25px;
  border-radius: 50%;
}

.sm-circle {
  padding: 10px 10px;
  border: 2px solid #9d8df1;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
}

/* =============================================
|   |   |   | Sign In
============================================== */
#sign-in-container {
  /* Todo: view width! */
  width: 400px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sign-in-container h3 {
  font-weight: 100;
}

#sign-in-container .sm-circle {
  position: absolute;
  bottom: 0;
  left: 10;
}

#sign-in-desc {
  margin-top: 35px;
  font-weight: 100;
  font-size: 15px;
}

#sign-in-desc a {
  color: #9d8df1;
}

#sign-in-header {
  position: relative;
}

#sign-in-container form {
  margin: 60px 0;
}

#sign-in-container input {
  border: 0;
  border-bottom: 1px solid #e9eaec;
}

#sign-in-container button {
  margin-top: 45px;
  background-color: #9d8df1;
  width: 80%;
  color: #fff;
  box-shadow: 12px 8px 3px 1px rgba(0, 0, 255, 0.2);
}

#sign-in-container label {
  display: block;
  text-align: left;
  /* transform: translate(0%, 125%); */
  font-weight: 100;
  font-size: 16px;
  margin: 0;
}

/* =============================================
|   |   |   | Dashboard
============================================== */
.task-btns {
  text-align: center;
}

.btn-task {
  margin: 15px 25px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border-color: transparent;
  color: #9d8df1;
}

.btn-task:focus {
  background: #9d8df1;
  color: white;
}

.daily-task-container {
  background: #9d8df1;
  padding: 2rem;
  color: #fff;
  border-radius: 0.2rem;
}

.daily-task-container h3 {
  margin-bottom: 1rem;
}

.recent-viewed-container {
  margin-top: 25px;
}

.recent-viewed-container p {
  margin-bottom: 1.5rem;
}

/* =============================================
|   |   |   | Profile
============================================== */
.profile-container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.profile-container img {
  margin-bottom: 25px;
}

.viewed-resource {
  text-align: center;
  border: 1px solid #e9eaec;
  border-radius: 5px;
  width: 100%;
  padding: 30px;
  height: 200px;
  position: relative;
}

.viewed-resource i {
  color: red;
  font-size: 60px;
  margin-top: 20px;
}

.feed-container {
  margin-top: 50px;
}

.viewed-overlay {
  background-color: rgba(33, 34, 38, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.viewed-resource:hover .viewed-overlay {
  opacity: 1;
}

.viewed-info {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.viewed-info h6 {
  color: #9d8df1;
  font-size: 16px;
  margin: 0;
}

.viewed-info p {
  color: #fff;
}

.resource-card {
  height: 250px;
  margin-bottom: 25px;
}

.resource-link {
  color: #000;
}

.resource-link:hover {
  color: #9d8df1;
}

/* =============================================
|   |   |   | Social Wall
============================================== */
.post-form {
  margin: 1rem 0;
}

.post-form textarea {
  border-color: transparent;
  width: 100%;
}

/* =============================================
|   |   |   | PostItem
============================================== */
.post-card {
  margin: 1rem 0;
}

.post-card img {
  width: 50px;
  height: 50px;
}

.posted-date {
  float: right;
}

.post-text {
  margin: 1rem 0;
}

.comment-btn {
  float: right;
}

/* =============================================
|   |   |   | Group
============================================== */
.menu-item {
  padding: 2rem;
  margin: 0.5rem;
  text-align: center;
}

.menu-item img {
  height: 5rem;
  width: 5rem;
}

/* =============================================
|   |   |   | Upload
============================================== */
.upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

.dropzone {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.file-name {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.file-row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.check-icon {
  opacity: 0.5;
  margin-left: 32px;
}

.progress-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

/* =============================================
|   |   |   | Dropzone
============================================== */

.icon {
  height: 80px;
  width: 90px;
}

.file-input {
  display: none;
}

.highlight {
  background-color: rgb(188, 185, 236);
}

/* =============================================
|   |   |   | Progress
============================================== */

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: rgb(183, 155, 229);
  border-radius: 5px;
}

.progress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}

/* =============================================
|   |   |   | Landing
============================================== */
.landing-container {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 755px;
  height: 860px;
  background: url('../src/img/landing/bg-shape-right.png') left center no-repeat;
  background-size: cover;
  z-index: -1;
}

.landing-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing-inner .btn-general {
  background: rgb(96, 89, 246);
}

.landing-lead {
  margin-top: 5%;
}

.buttons {
  margin-top: 5%;
}

.landing-img {
  width: 400px;
  height: 400px;
  margin: auto;
}
